
  <!-- Sidebar -->
   <div class="Kml-uploas">

  <!-- Main Content -->
  <div class="main-content">
      <div class="header">
          <a routerLink="/home" routerLinkActive="active" class="Home_header"><img src="assets/home.png" width="20" alt=""> Home</a>
  </div>
<div class="upload-container">
    <h2>นำเข้า KML</h2>
  
    <div class="form-container">
      <!-- Dropdown สำหรับเลือกผู้รับผิดชอบ -->
      <div class="form-group">
        <label for="category">ผู้รับผิดชอบ:</label>
        <select id="category" [(ngModel)]="selectedcat_id">
          <option *ngFor="let cat of cat_id" [value]="cat.id">{{ cat.name }}</option>
        </select>
      </div>
  
      <!-- ช่องอัปโหลดไฟล์ -->
      <div class="form-group">
        <label for="file">เลือกไฟล์:</label>
        <input type="file" id="file" (change)="onFileSelected($event)" accept=".kml">
      </div>
  
      <!-- ปุ่มอัปโหลด -->
      <button (click)="uploadFile()" [disabled]="isLoading">
        {{ isLoading ? 'กำลังอัปโหลด...' : 'Upload' }}
      </button>
    </div>
  
    <!-- แสดงข้อความแจ้งเตือน -->
    <p class="status-message">{{ uploadStatus }}</p>
  </div>
</div>
  <router-outlet></router-outlet>