       <div class="main-content">
      <div class="header">
          <a routerLink="/home" routerLinkActive="active" class="Home_header"><img src="assets/home.png" width="20" alt=""> Home</a>
  </div>

<div class="container">

  
  <button class="download-btn" (click)="downloadRepairExcel()">
    <span class="icon">⬇</span>
    <span class="text">ดาวโหลดไฟล์ประวัติการซ่อม</span>
  </button>

  <button class="download-btn" (click)="downloadNotifyExcel()">
    <span class="icon">⬇</span>
    <span class="text">ดาวโหลดไฟล์ประวัติการแจ้ง</span>
  </button>
</div>
</div>