/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.custom-cluster {
    background-color: #703fb5;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
    font-weight: bold;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
/* เพิ่มในไฟล์ CSS ของคุณ */
.custom-dialog-container .mat-dialog-container {
  z-index: 100; /* กำหนดค่า z-index ให้ต่ำกว่า Leaflet popup */
}

