<!-- Sidebar -->
<div class="sidebar" [class.expanded]="isSidebarVisible">
    <div class="logo">
        <a class="logo_just" routerLink="home">
            <img src="assets/Seal_of_the_Department_of_Highway_of_Thailand.svg.png" alt="Just Scan Me">
            <span *ngIf="isSidebarVisible">Just Scan Me</span>
        </a>
    </div>
    <ul class="nav">
        <li><a routerLink="home"><img src="assets/home.png" width="30" alt=""> <span *ngIf="isSidebarVisible">หน้าหลัก</span></a></li>
    </ul>
</div>

<!-- Main Content -->
<div class="main-content">
    <div class="header">
        <!-- ปุ่มเปิด/ปิด Sidebar -->
        <a href="javascript:void(0);" class="menu_bar" (click)="toggleSidebar()">
            <img src="assets/menu.png" width="25" alt="Menu Icon">
        </a>

        <!-- Home -->
        <a routerLink="home" class="Home_header">
            <img src="assets/home.png" width="25" alt=""> Home
        </a>

        <!-- Login / Logout -->
        <div class="login_header">
        <!-- แสดงปุ่ม Login ถ้ายังไม่ได้ล็อกอิน -->
        <a *ngIf="!isLoggedIn" href="javascript:void(0)" class="Login" (click)="openPopup()">
            <img src="assets/login.png" width="25"> Login
        </a>

        <!-- แสดงปุ่ม Logout ถ้าล็อกอินแล้ว -->
        <div *ngIf="isLoggedIn" class="user-header">
            <span class="username">{{ user?.name }}</span>
            <a class="logout_logo" (click)="logout()">
                <img src="assets/logout_16584961.png" width="25" alt="Logout">
            </a>
        </div>
        </div>
    </div>

    <div class="header_body">
        <ul class="title">แผนที่การแจ้งซ่อม</ul>
        <ul class="title">แขวงทางหลวงชลบุรี 1 </ul>
    </div>

    <app-body></app-body>
    <app-lognin-singin *ngIf="isPopupVisible" (close)="closePopup()"></app-lognin-singin>
</div>
